/* Fonts 
Headings: Libra Baskerville
Paragraph: Roboto */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Temporary Styles */

*{
     border: 1px solid grey;
}

img { max-width: 100%; }


/* Re-usable Utiity Classes  */
.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }

.padded    { padding: 5%;    }

.padded-1,
.grid.padded-1 { padding: 1rem; }

.padded-2,
.grid.padded-2 { padding: 2rem; }

.margin-b-0 { margin-bottom: 0; }


.bg-light    { background-color: #F8F6F4; }
.bg-featured { background-color: #018ca2; }

.text-featured { color: #f59186;} 

.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }



/* General typography & universal styles  */

