/* Fonts 
Headings: Libra Baskerville
Paragraph: Roboto */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


img { max-width: 100%; }


/* Re-usable Utiity Classes  */
.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }

.padded    { padding: 5%;    }

.padded-1,
.grid.padded-1 { padding: 1rem; }

.padded-2,
.grid.padded-2 { padding: 2rem; }

.margin-b-0 { margin-bottom: 0; }


.bg-light    { background-color: #f7f0e8f1; }
.bg-featured { 
    background-color: #082838; 
}

.light-text {color: white;}

.text-featured { color: #E09200;} 

.left   { text-align: left; }
.center { text-align: center; }
.right  { text-align: right; }

.big-icon {
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* General typography & universal styles  */


header {
    padding: 1% 3%;
  }
  

  body {
    font-family: "Roboto-Slab", sans-serif;
    }
    
    h1,h2,h3,h4,h5,h6{
    font-family: "Libra-Baskerville", sans-serif;
    font-weight: 700;
    margin-bottom: 0.5rem;
    }
    
    h1{
    font-size: 6rem;
    }
    
    h2{
    font-size: 2.5rem;
    }
    
    h3{
    font-size: 1.8rem;
    }

    .logo{
        text-decoration: none;
    }
    
    .subtle {
    opacity: 0.8;
    font-size: 0.9rem;
    font-style: italic;
    }
    
    p, li {
    font-weight: 200;
    line-height: 1.4;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
    }
    
    p:last-child,
    li:last-child
    {
    margin-bottom: 0;
    }
    
    a { color: inherit }
    
    nav a{
    text-decoration: none;
    display: inline-block;
    padding: 3%;

}
    
    a:hover{
    color: #E09200 }
    
    /* Footer */
    
    footer h2{
        font-size: 6rem;
        line-height: 1;
    }
    
    footer p{
        margin-bottom: 0.2rem;
    }
    
    /* Background Images */
    
    .bg-image {
        background-color: rgb (0,0,139);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("images/nw-wave.jpg"); 
    }
    
    .bg-run{
        background-image: url("images/nw-run.jpg"); 
    }
    
    .bg-swim-1{
        background-image: url("images/nw-swim-1.jpg"); 
    }
    
    .bg-swim-2{
        background-image: url("images/nw-swim-day.jpg"); 
    }

    .bg-shoe{
        background-image: url("images/nw-run-shoe.jpg"); 
    }

    .bg-wetsuit{
        background-image: url("images/nw-wetsuit.jpg"); 
    }

    .bg-wave{
        background-image: url("images/nw-wave.jpg"); 
    }

    .bg-merch{
        background-image: url("images/nw-merch.png"); 
    }

    .bg-padded{
        padding-bottom: 30%;
    }
    
    
    @media(max-width: 48em) {
        .hide-sm {display: none;}
    
        .flex-flip-sm {flex-direction: column-reverse;}
    
        h1{font-size: 4rem;}
        footer h2{font-size: 3rem;}
    
    }
    